body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-left: 200px ;
}
.pallavi {
    margin-bottom: 20px;
}
.charanam {
    margin-top: 20px;
}
.heading {
    font-weight: bold;
    font-size: 1.2em;
}

.lyrics {
    text-indent: 30px; /* Adjust the value as needed */
}
