body{
    height: auto ;
}

h1 {
    text-align: center;
}

#ragacompositions{
    width: 80%;
    margin: 20px auto;
    border: 2px solid black ;
}

#ragacompositions th, #ragacompositions td {
    padding-left: 2%;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border: 1px solid black ;
}

#ragacompositions th {
    background-color: #f2f2f2;
    border: 1px solid black ;
    text-align: Center;
    
}


#lyrics_table{
    width: 90%;
    margin: 10px auto;
    border: 1px solid black ;
    justify-items: center;
}


#lyrics_table th, #lyrics_table td {
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border: 1px solid black ;
}

#lyrics_table img{
    height: 30px ;
    
}
