h1 {
    text-align: center;
}

#ragacompositions{
    width: 80%;
    margin: 20px auto;
    border: 1px solid black ;
}

#ragacompositions th, #ragacompositions td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border: 1px solid black ;
}

#ragacompositions th {
    background-color: #f2f2f2;
    border: 1px solid black ;
    
}