.hands{
    height: 40px ;
  }
  table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: white ;

  }

  th, td {
    border: 1px solid #17c9433d;
    padding: 8px;
    text-align: center;
  }

.bold-text {
    font-weight: bold;
    color: rgb(16, 3, 132)
  }

 th {
    background-color: #f2f2f2;
  }

.laghu1{
      background-color: #64ed69;
    }

.laghu2{
      background-color: #64ed6990;
    }

.laghu3{
      background-color: #64ed6950;
    }

.laghu4{
      background-color: #64ed6920;
    }

.drutha1_1{
      background-color: #FFCF96;
    }

.drutha1_2{
      background-color: #FFCF9680;
    }

.drutha2_1{
      background-color: #CDF5FD;
    }
.drutha2_2{
      background-color: #CDF5FD70;
    }

.laghu2_1{
      background-color: #FF8080;
    }

    .laghu2_2{
      background-color: #FF808080;
    }

    .laghu2_3{
      background-color: #FF808060;
    }

    .laghu2_4{
      background-color: #FF808040;
    }


    .laghu3_1{
      background-color: #D0A2F7;
    }

    .laghu3_2{
      background-color: #D0A2F780;
    }

    .laghu3_3{
      background-color: #D0A2F760 ;
    }

    .laghu3_4{
      background-color: #D0A2F740 ;
    }


    .laghu4_1{
      background-color: #35A29F ;
    }

    .laghu4_2{
      background-color: #35A29F90 ;
    }

    .laghu4_3{
      background-color: #35A29F80 ;
    }

    .laghu4_4{
      background-color: #35A29F70 ;
    }

    .laghu4_5{
      background-color: #35A29F60 ;
    }

    .laghu4_6{
      background-color: #35A29F50 ;
    }

    .laghu4_7{
      background-color: #35A29F40 ;
    }

    .laghu4_8{
      background-color: #35A29F30 ;
    }

    .laghu4_9{
      background-color: #35A29F20 ;
    }


    .laghu5_1{
      background-color: #789461;
    }

    .laghu5_2{
      background-color: #78946190;
    }

    .laghu5_3{
      background-color: #78946180;
    }

    .laghu5_4{
      background-color: #78946170;
    }

    .laghu5_5{
      background-color: #78946160;
    }

    .laghu5_6{
      background-color: #78946150;
    }

    .laghu5_7{
      background-color: #78946140;
    }

    .laghu5_8{
      background-color: #78946130;
    }

    .laghu5_9{
      background-color: #78946120;
    }


    @media screen and (max-width: 600px) {

        .table-responsive th, .table-responsive td {
            width: auto; /* Equal width for each column */
            padding: 1.5px;
            font-size: 60%;
            height: auto ;
          
          }

          .hands{
            height: 20px ;
          }

          th, td {

            padding: 2px;

          }


    }