        body{
            background-color:#dddddd;
        }
        .index-page{
            font-family: Arial, Helvetica, sans-serif; 
        }        
        .index-header{
            display: flex ;
            width: 100% ;
            height: 100px ; ;
        }
        .header-logo{
            flex: 1 ;
        }
        .header-logo img{

            height:  100% ;
        }
        .header-headline{
            background-color: black ;
            color: white ;
            flex: 9 ; 
            display: flex ;
            justify-content: center;
            align-items: center;
        }
        .header-headline h1{
            text-align: center ;
            
        }
        .index-body{
            height: auto ;
            background-color: whitesmoke ;
            border-radius: 1% ;
            padding: 5% ;
        }


        .home-list {
            list-style-type: none;
        }
        .home-list li {
            margin-bottom: 5%; 
        }


        .home-list li a {
            text-decoration: none;
            color:darkgreen;
            font-weight: bolder;    
        }

  
        .home-list li a:hover {
            color: rgb(121, 19, 19); /* Change link color on hover */
        }

        .index-footer{
            height: 100px ;
            width: 100% ;
            background: linear-gradient(rgb(121, 19, 19),black );
            color: white ;
            font-size: larger;
            padding: 1% ;
        }


        .saraliswaras-container {
            max-width: 960px;
            margin: 0 auto;
        }     

        .speed-row {
            display: flex;
            justify-content: space-between;
        }

        .speed-col {
            flex: 1;
            text-align: center;
        }

        .speed-col a {
            text-decoration: none;
            color: #34269f;
            padding: 2px;
            display: block;

        }

        .speed-col a:hover{
            color: rgb(154, 21, 21) ;
            font-size: 120%; 
        }

        .display-frame {
            display: flex;
            overflow:hidden ;
        }

        iframe {
            width: 100%;
            height: 100vh;
            border: none;
            display: none ;
            
        }

        iframe.active {
            display: block;
        }

        .saraliswaras-header{ 

            padding: 20px ;
            text-align: center ;
            font-size: larger;            
        }

        .sarali-head{
            margin-top: 3% ;
        }

        .saraliswaras-nav{
            border-top: 2px solid black ;
            border-bottom: 1px solid black ;
            padding: 5% ;
            display: flex ;
            justify-content: space-between;
            margin-bottom: 10% ;
            font-weight: bold ;

        }

        .saraliswaras-nav a{
            text-decoration: none ;
            font-size: larger;
            color:dodgerblue

        }




        @media screen and (max-width: 600px) {

            .header-headline h1{

                font-size: larger;
            }

            .index-header{
                height: 3rem  ;
            }  
            

        }
