.hands{
    height: 40px ;
  }
  table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: white ;

  }

  th, td {
    border: 1px solid #17c9433d;
    padding: 8px;
    text-align: center;
  }

.bold-text {
    font-weight: bold;
    color: rgb(16, 3, 132)
  }

 th {
    background-color: #f2f2f2;
  }

.laghu1{
      background-color: #64ed69;
    }

.laghu2{
      background-color: #64ed6990;
    }

.laghu3{
      background-color: #64ed6950;
    }

.laghu4{
      background-color: #64ed6920;
    }

.drutha1_1{
      background-color: #FFCF96;
    }

.drutha1_2{
      background-color: #FFCF9680;
    }

.drutha2_1{
      background-color: #CDF5FD;
    }
.drutha2_2{
      background-color: #CDF5FD70;
    }


    @media screen and (max-width: 489px) {

        .table-responsive th, .table-responsive td {
            width: 33.33%; /* Equal width for each column */
            padding: 1.5px;

          }

          .hands{
            height: 20px ;
          }


    }